<h1>Covid_19 código {{id}}</h1>

<form action="/editarReq/{{id}}" method="POST">
    <div class="mb-3">
        <label class="form-label">Data</label>
        <input class="form-control" type="date" name="data">
    </div>
    <div class="mb-3">
        <label class="form-label">Hora</label>
        <input class="form-control" type="time" name="hora">
    </div>
    <div class="mb-3">
        <label class="form-label">Nota</label>
        <input class="form-control" type="text" name="nota">
    </div>

    <button type="submit" class="btn btn-primary">Criar</button>
</form>