<form action="/aluno" method="POST">
<div class="mb-3">
				<label class="form-label">Nome</label>
				<input class="form-control" type="text" name="nome">			
</div>
<div class="mb-3">
				<label class="form-label">CPF</label>
				<input class="form-control" type="text" name="cpf">
</div>
<div class="mb-3">
				<label class="form-label">Sexo</label>
				<input class="form-control" type="text" name="sexo">
</div>
<div class="mb-3">
				<label class="form-label">Quantidade Materias</label>
				<input class="form-control" type="text" name="qtd_materias">
</div>

				 <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
