<form action="/covid" method="POST">
    <div class="mb-3">
        <label class="form-label">Data Notificação</label>
        <input class="form-control" type="date" name="data_notificacao">
    </div>
	    <div class="mb-3">
        <label class="form-label">Data 1º Sintomas</label>
        <input class="form-control" type="date" name="data_primeiros_sintomas">
    </div>
	    <div class="mb-3">
        <label class="form-label">Data Teste</label>
        <input class="form-control" type="date" name="data_teste">
    </div>
	    <div class="mb-3">
        <label class="form-label">Data Óbito</label>
        <input class="form-control" type="date" name="data_obito">
    </div>
	    <div class="mb-3">
        <label class="form-label">Data Nascimento</label>
        <input class="form-control" type="date" name="data_nascimento">
    <div class="mb-3">
        <label class="form-label">Faixa Etaria</label>
        <input class="form-control" type="text" name="faixa_idade">
    </div>
	    <div class="mb-3">
        <label class="form-label">Sexo</label>
        <input class="form-control" type="text" name="sexo">
    </div>
	    <div class="mb-3">
        <label class="form-label">Raça</label>
        <input class="form-control" type="text" name="reca">
    </div>
	    <div class="mb-3">
        <label class="form-label">Bairro</label>
        <input class="form-control" type="text" name="bairro">
    </div>
	    <div class="mb-3">
        <label class="form-label">Municipio</label>
        <input class="form-control" type="text" name="municipio_residencia">
    </div>
	    <div class="mb-3">
        <label class="form-label">Centro Saude</label>
        <input class="form-control" type="text" name="centro_saude">
    </div>
	    <div class="mb-3">
        <label class="form-label">Tipo Teste</label>
        <input class="form-control" type="text" name="tipo_teste">
    </div>
	    <div class="mb-3">
        <label class="form-label">Dor Garganta</label>
        <input class="form-control" type="text" name="dor_garganta">
    </div>
	    <div class="mb-3">
        <label class="form-label">Dispneia</label>
        <input class="form-control" type="text" name="dispneia">
    </div>
	    <div class="mb-3">
        <label class="form-label">Febre</label>
        <input class="form-control" type="text" name="febre">
    </div>
	    <div class="mb-3">
        <label class="form-label">Tosse</label>
        <input class="form-control" type="text" name="tosse">
    </div>
	    <div class="mb-3">
        <label class="form-label">Óbito</label>
        <input class="form-control" type="text" name="obito">
    </div>
    <div class="mb-3">
        <label class="form-label">UTI</label>
        <input class="form-control" type="text" name="internado_uti">
    </div>

    <button type="submit" class="btn btn-primary">Criar</button>
</form>